{{#if post}}
<ul class="posts">
    {{#each post}}
    <div class="card">
        <div class="card-content">
            <a class="card-title" href="/post/{{id}}">
                {{ post }}
            </a>
        </div>
        <div class="card-action">
            <span class="post__date">{{ createdAt }}</span>
            <span class="post_comments">{{ post.length }} Response</span>
        </div>
    </div>
    {{/each}}
</ul>
{{/if}}