<section class="form-container">
    <h4>New Hand eJob</h4>

    <form action="/post" method="post" class="job-form">
        <div class="form-group">
            <label for="name">Job Name</label>
            <textarea class="form-control" id="name" name="name" cols="20" rows="1"
                placeholder="Name your Hand eJob"></textarea>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" name="description" cols="20" rows="2"
                placeholder="Tell Us About Your Job..."></textarea>
        </div>
        <div class="form-group">
            <label for="status">Job Status</label>
            <select class="form-control" id="status">
                <option></option>
                <option>In Progress</option>
                <option>Incomplete</option>
                <option>Complete</option>
            </select>
        </div>
        <div class="form-group">
            <label for="priority">Priority Level</label>
            <select class="form-control" id="priority">
                <option></option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
            </select>
        </div>
        <div class="form-group">
            <label for="instructions">Special Instructions</label>
            <textarea class="form-control" id="instructions" name="instructions" cols="20" rows="1"
                placeholder="Special Instructions....."></textarea>
        </div>
        <div>
            <p class="form-group">
                <input type="submit" value="Add A New Hand eJob" class="btn btn-primary">
            </p>
        </div>
    </form>