<section class="form-container">
    <h4>New Hand ejob</h4>
    <br>
    <form action="/post" method="post" class="job-form">
        <div class="input-field">
            <textarea name="job[name]" placeholder="Job Title"></textarea>
        </div>
        <div class="input-field">
            <textarea name="job[description]" cols="30" rows="5" placeholder="Job Description"></textarea>
        </div>
        <div class="input-field">
            <textarea name="job[status]" placeholder="Job Status"></textarea>
        </div>
        <div class="input-field">
            <textarea name="job[priority]" placeholder="Job Priority"></textarea>
            <div class="input-field">
                <div class="input-field">
                    <textarea name="job[instructions]" placeholder="Job Instructions"></textarea>
                    <div class="input-field">
                        <input type="submit" value="Post Hand eJob" class="btn btn success">
                    </div>
    </form>
</section>