<h2>Response to Job Poster</h2>

<form action="/post" method="response">
    <p class="form-group">
        <label for="name">Task Responding To:</label>
        <input type="text" name="name" id="name" class="form-control">
    </p>
    <p class="form-group">
        <label for="description">Soonest Available:</label>
    </p>
    <p class="form-group">
        <label for="description">Date:</label>
        <input type="text" name="name" id="name" class="form-control">
    </p>

    <p class="form-group">
        <label for="description">Time:</label>
        <input type="text" name="name" id="name" class="form-control">
    </p>
    <p class="form-group">
        <input type="submit" value="Submit for Hand-E Jobber" class="btn btn-primary">
    </p>
</form>