<div class="card">
    <div class="card-body">
        <div class="form-group">
            <label for="Response"></label>Response</label>
            <input type="text" class="form-control" id="Job Priority" placeholder="Please type in your response...">
        </div>
        <div class="form-group">
            <label for="Availabilty">Availability</label>
            <input type="text" class="form-control" id="Availability" placeholder="Date and Time First Available...">
        </div>
        <p>Status</p>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Accepted</label>
            <br>
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">In Progress</label>
            <br>
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Complete</label>
        </div>


    </div>
    <div class="card-footer">
        <a href="/post/{{post.id}}" class="btn btn-warning text-white">Send Response</a>

    </div>
</div>
</form>